.basicFormBox{
    overflow: auto;
}

@media screen and (orientation:portrait){
    .basicFormBox{
        height: calc(100vh - 50px);
        display: flex;
        align-items: center;
    }

    /* Portrait - short phones won't overflow on form error*/
    @media screen and (max-height: 811px){
        .basicFormBox{
            height: 100%;
            display: flex;
            align-items: flex-start; 
        }
    }
}

@media screen and (orientation:landscape){
    /* Landscape - Mobile */
    .basicFormBox{
        height: 100%;
        display: flex;
        align-items: flex-start; 
    }

    /* Landscape - Desktops / Tablets */
      @media screen and (min-width: 900px){
        .basicFormBox{
            height: calc(100vh - 50px);
            display: flex;
            align-items: center;
        }

        /* Prevent Nest Hub from overflow on form errors */
        @media screen and (max-height:800px){
            .basicFormBox{
                height: 100%;
                display: flex;
                align-items: flex-start;
            }
        }
    }
}
