.chooseSetupGuideBox{
    overflow: auto;
}

@media screen and (orientation:portrait){
    .chooseSetupGuideBox{
        height: calc(100vh - 50px);
        display: flex;
        align-items: center;
    }
}

@media screen and (orientation:landscape){
    /* Landscape - Mobile */
    .chooseSetupGuideBox{
        height: 100%;
        display: flex;
        align-items: flex-start; 
    }
    /* Landscape - Desktops / Tablets */
    @media screen and (min-width: 768px){
        .chooseSetupGuideBox{
            height: calc(100vh - 50px);
            display: flex;
            align-items: center;
        }
    }
}